<template>
  <router-link :to="'/orders/' + id + '/view'" class="client">
    <div class="client__avatar" v-html="client.avatar"></div>
    <div class="client__info">
      <span class="client__name">
        {{ client.short_name }}
      </span>
      <div class="client__subinfo">
        {{ client.email }} / {{ client.id }}
      </div>
    </div>
  </router-link>
</template>

<script type="text/javascript">
export default {
  name: 'ElClient',
  props: {
    id: {},
    client: {
      type: Object,
      default() {
        return {};
      },
    },
  },
};
</script>

<style>
.client {
  min-width: 200px;
}
</style>
