<template>
  <div class="app-container">
    <h1>Текущие заказы</h1>

    <div class="card">
      <h3>Заказы</h3>

      <el-table
          v-loading="loading"
          :data="list"
          style="width: 100%"
          @sort-change="sortChange">
        <el-table-column
            v-if="device != 'mobile'"
            class-name="column-index"
            label-class-name="column-index"
            type="index"/>
        <el-table-column
            prop="user_id"
            label="Клиент"
            min-width="200px"
            sortable="custom">
          <client slot-scope="scope" :client="scope.row.client" :id="scope.row.id"></client>
        </el-table-column>
        <el-table-column
            prop="id"
            label="Номер заказа"
            sortable="custom">
          <template slot-scope="scope">
            №{{ scope.row.id }}
          </template>
        </el-table-column>
        <el-table-column
            prop="created_at"
            label="Оформлен"
            sortable="custom"
            width="100">
          <template slot-scope="scope">
            <div style="text-align:right;">
              <span>
                {{ scope.row.created_at.date }}
              </span>
              <span class="row-subtext">
                {{ scope.row.created_at.time }}
              </span>
            </div>
          </template>
        </el-table-column>
        <el-table-column
            prop="payment"
            label="Оплата"
            width="100">
        </el-table-column>
        <el-table-column
            prop="status"
            label="Статус"
            width="180">
          <template slot-scope="scope">
            <span class="status">
              {{ scope.row.status }}
            </span>
          </template>
        </el-table-column>
      </el-table>
      <el-pagination
          :total="total"
          :page-size="listQuery.limit"
          :current-page.sync="listQuery.page"
          :pager-count="3"
          layout="prev, pager, next"
          @current-change="getList"/>
    </div>
  </div>
</template>

<script>
import Resource from '@/api/resource';
import Client from './client';
import {mapGetters} from 'vuex';

const orderResource = new Resource('orders');

export default {
  name: 'OrderList',
  components: {
    'client': Client,
  },
  data() {
    return {
      loading: false,
      list: [],
      total: 0,
      listQuery: {
        page: 1,
        limit: 10,
        sort_prop: 'id',
        sort_order: 'desc',
      },
    };
  },
  computed: {
    ...mapGetters([
      'device',
    ]),
  },
  created() {
    this.getList();
  },
  methods: {
    async getList() {
      this.loading = true;
      const {items, total} = await orderResource.list(this.listQuery);
      this.list = items;
      this.total = total;
      this.loading = false;
    },
    sortChange(data) {
      const {prop, order} = data;
      this.listQuery.sort_prop = prop;
      this.listQuery.sort_order = order === 'ascending' ? 'asc' : 'desc';
      this.listQuery.page = 1;
      this.getList();
    },
  },
};
</script>

<style scoped>
.row-subtext {
  display: block;
  color: #A2A4AE;
  font-size: 11px;
  line-height: 12px;
  text-align: right;
}

.status {
  width: 100%;
  padding: 8px;
  font-size: 11px;
  line-height: 12px;
  border: 1px solid #000;
  display: inline-block;
  text-align: center;
  word-break: break-word;
}
</style>
