<template>
  <div class="app-container">
    <breads ref="bread"/>
    <div class="card">
      <h3>Текущие заказы клиента</h3>
      <orders
          :orders="orders"
          :loading="loading"
      />

      <h3>Позиции в заказе</h3>
      <products
          style="margin-bottom: 24px;"
          :products="products"
          :loading="loading"
      />
      <h3 class="table-total">Итого: {{ totalSum }}₽</h3>

      <h3>Доставка</h3>
      <delivery
          :order="order"
      />

      <confirm-status-button
          :order="order"
          :next-status="nextStatus"
          @statusChanged="getOrders"
      />

      <h3>История заказа</h3>
      <status
          :statuses="statuses"
      />
    </div>

    <div class="card">
      <el-collapse accordion>
        <el-collapse-item name="1">
          <template slot="title">
            <h3 class="order-history">Выполненные заказы клиента</h3>
          </template>
          <orders
              :orders="history"
              :loading="loading"
              style="margin-bottom: 0;"
          />
        </el-collapse-item>
      </el-collapse>
    </div>

    <div class="card">
      <h3>Информация о клиенте</h3>
      <client-info
          :order="order"
      />
    </div>

    <el-row :gutter="16" class="workers flex-wrap">
      <el-col :span="9" :xs="24">
        <div class="card" style="max-width: 402px">
          <h3>Чат с клиентом</h3>
          <chat v-if="order" :chatId="order.id"/>
        </div>
      </el-col>
    </el-row>

  </div>
</template>

<script>
import Resource from '@/api/resource';
import ordersTable from '@/views/orders/components/ordersTable';
import productsTable from '@/views/orders/components/productsTable';
import breadsWithBack from '@/views/components/breadsWithBack';
import orderDelivery from '@/views/orders/components/delivery';
import statusLine from '@/views/orders/components/statusLine';
import clientInfo from '@/views/orders/components/clientInfo';
import confirmStatusButton from '@/views/orders/components/confirmStatusButton';
import clientChat from '@/components/ClientChat';

const orderResource = new Resource('orders');

export default {
  name: 'OrderTable',
  components: {
    confirmStatusButton,
    'orders': ordersTable,
    'products': productsTable,
    'breads': breadsWithBack,
    'delivery': orderDelivery,
    'client-info': clientInfo,
    'status': statusLine,
    'chat': clientChat,
  },
  data() {
    return {
      loading: false,
      order: null,
      orders: [],
      products: [],
      history: [],
      statuses: [],
      nextStatus: null,
      totalSum: 0,
    };
  },
  created() {
    this.getOrders();
  },
  methods: {
    async getOrders() {
      this.loading = true;
      const {order, products, totalSum, statuses, nextStatus, history}
          = await orderResource.get(this.$route.params.id);
      this.order = order;
      this.orders = [order];
      this.products = products;
      this.totalSum = totalSum;
      this.statuses = statuses;
      this.nextStatus = nextStatus;
      this.history = history;
      this.$refs.bread.render(order.client.short_name);
      this.loading = false;
    },
  },
};
</script>

<style lang="scss" scoped>
.table-total {
  padding-left: 48px;
  margin-bottom: 45px;
}

.order-history {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  margin: 0;
}

.el-collapse {
  border: none;
}
</style>
