<template>
  <div>
    <beautiful-chat
        :participants="participants"
        :titleImageUrl="titleImageUrl"
        :onMessageWasSent="onMessageWasSent"
        :messageList="messageList"
        :newMessagesCount="newMessagesCount"
        :isOpen="true"
        :close="closeChat"
        :open="openChat"
        :showEmoji="false"
        :showFile="true"
        :showEdition="false"
        :showDeletion="true"
        :showTypingIndicator="''"
        :showLauncher="false"
        :showCloseButton="false"
        :showHeader="false"
        :alwaysScrollToBottom="true"
        placeholder="Сообщение..."
        @onType="handleOnType"
        @edit="editMessage">

      <template v-slot:user-avatar="{ message, user }">
        <div>
        </div>
      </template>

      <template v-slot:text-message-body="{ message }">
          <span class="sc-message--date" v-if="message.data.date">
            {{ message.data.date }}
          </span>
        <div class="sc-message--body">
          {{ message.data.text }}
          <span class="sc-message--time">
            {{ message.data.time }}
          </span>
        </div>
      </template>

    </beautiful-chat>
  </div>
</template>

<script>

import request from '@/utils/request';
import Resource from '@/api/resource';

const messageResource = new Resource('messages');

export default {
  name: 'ClientChat',
  props: ['chatId', 'clientId'],
  data() {
    return {
      participants: [],
      titleImageUrl: '',
      messageList: [],
      newMessagesCount: 0,
    };
  },
  created() {
    this.loadMessages();
  },
  methods: {
    async loadMessages() {
      const {messageList, participants} = (await messageResource.get(this.chatId)).data;
      this.messageList = messageList;
      this.participants = participants;
    },
    onMessageWasSent(message) {
      request.post('/messages/' + this.chatId + '/send', {
        clientId: this.clientId,
        message: message.data.text,
      });
      this.messageList = [...this.messageList, message];
    },
    openChat() {},
    closeChat() {},
    handleScrollToTop() {},
    handleOnType() {},
    editMessage(message) {},
  },
};
</script>
