<template>
  <div class="login-container">
    <div class="login-img"></div>
    <el-form ref="loginForm" :model="loginForm" :rules="loginRules" class="login-form" auto-complete="on"
             label-position="left">
      <h3 class="title">
        Вход
      </h3>
      <el-form-item prop="email">
        <el-input
            v-model="loginForm.email"
            name="email"
            type="text"
            auto-complete="on"
            @focus="loginError = false"
            :placeholder="$t('login.email')"
        />
      </el-form-item>
      <el-form-item prop="password">
        <el-input
            v-model="loginForm.password"
            :type="pwdType"
            name="password"
            auto-complete="on"
            placeholder="password"
            @keyup.enter.native="handleLogin"
            @focus="loginError = false"
        />
        <span class="show-pwd" @click="showPwd">
          <svg-icon icon-class="eye"/>
        </span>
      </el-form-item>
      <div class="error" v-if="loginError">
        <p>
          Неверный логин или пароль
        </p>
        <p>
          Обратитесь к менеджеру, чтобы восстановить данные
        </p>
      </div>
      <el-form-item style="margin-top: 12px;">
        <el-button :loading="loading" type="primary" style="width:100%;" @click.native.prevent="handleLogin">
          Войти
        </el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
// import LangSelect from '@/components/LangSelect';
import {validEmail} from '@/utils/validate';
import {csrf} from '@/api/auth';

export default {
  name: 'Login',
  // components: { LangSelect },
  data() {
    const validateEmail = (rule, value, callback) => {
      if (!validEmail(value)) {
        callback(new Error('Введите корректный E-mail'));
      } else {
        callback();
      }
    };
    const validatePass = (rule, value, callback) => {
      if (value.length < 4) {
        callback(new Error('Пароль не может быть короче 4-х символов'));
      } else {
        callback();
      }
    };
    return {
      loginForm: {
        email: '',
        password: '',
      },
      loginRules: {
        email: [{required: true, trigger: 'blur', validator: validateEmail}],
        password: [{required: true, trigger: 'blur', validator: validatePass}],
      },
      loading: false,
      loginError: false,
      pwdType: 'password',
      redirect: undefined,
      otherQuery: {},
    };
  },
  watch: {
    $route: {
      handler: function (route) {
        const query = route.query;
        if (query) {
          this.redirect = query.redirect;
          this.otherQuery = this.getOtherQuery(query);
        }
      },
      immediate: true,
    },
  },
  methods: {
    showPwd() {
      if (this.pwdType === 'password') {
        this.pwdType = '';
      } else {
        this.pwdType = 'password';
      }
    },
    handleLogin() {
      this.$refs.loginForm.validate(valid => {
        if (valid) {
          this.loading = true;
          csrf().then(() => {
            this.$store.dispatch('user/login', this.loginForm)
                .then(() => {
                  this.$router.push({path: this.redirect || '/', query: this.otherQuery}, onAbort => {
                  });
                  this.loginError = false;
                  this.loading = false;
                })
                .catch(() => {
                  this.loginError = true;
                  this.loading = false;
                });
          });
        } else {
          this.loginError = true;
          console.log('error submit!!');
          return false;
        }
      });
    },
    getOtherQuery(query) {
      return Object.keys(query).reduce((acc, cur) => {
        if (cur !== 'redirect') {
          acc[cur] = query[cur];
        }
        return acc;
      }, {});
    },
  },
};
</script>

<style rel="stylesheet/scss" lang="scss">
$bg: #232323;
$light_gray: #A2A4AE;

.login-img {
  width: 50%;
  height: 100%;
  background: $bg;
  background-image: url('/images/login-bg.svg');
  background-position: center;
  background-size: cover;
}

/* reset element-ui css */
.login-container {
  display: flex;

  .el-input {
    display: inline-block;

    input {
      background: transparent;
      border: 0;
      -webkit-appearance: none;
      border-radius: 0;
      padding: 0 12px;
      line-height: 42px;
      color: #333333;

      &:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px $bg inset !important;
        -webkit-text-fill-color: #fff !important;
      }
    }
  }

  .el-form-item {
    border: 1px solid #DDDDDD;
    background: #F6F6F6;
    color: #454545;
    margin-bottom: 24px;
  }

  .el-button--medium {
    line-height: 50px;
    border-radius: 0;
    background: #000;
    font-size: 16px;
    border: none;
    padding: 0;
  }
}

</style>

<style rel="stylesheet/scss" lang="scss" scoped>
$bg: #fff;
$dark_gray: #DDDDDD;
$light_gray: #A2A4AE;
.login-container {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: $bg;

  .login-form {
    width: 340px;
    max-width: 100%;
    padding-left: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .tips {
    font-size: 14px;
    color: #fff;
    margin-bottom: 10px;

    span {
      &:first-of-type {
        margin-right: 16px;
      }
    }
  }

  .svg-container {
    padding: 6px 5px 6px 15px;
    color: $dark_gray;
    vertical-align: middle;
    width: 30px;
    display: inline-block;
  }

  .title {
    font-size: 28px;
    margin-bottom: 40px;
    font-weight: 400;
  }

  .show-pwd {
    position: absolute;
    right: 10px;
    font-size: 16px;
    color: $dark_gray;
    cursor: pointer;
    user-select: none;
  }

  .set-language {
    color: #fff;
    position: absolute;
    top: 40px;
    right: 35px;
  }

  .error {
    color: #DF0000;
    font-size: 12px;
    padding-right: 30px;

    p {
      margin-top: 0;
      margin-bottom: 8px;
    }
  }
}

@media(max-width: 992px) {
  .login-container {
    flex-direction: column;

    .login-form {
      width: 100%;
      padding-right: 24px;
      padding-left: 24px;
    }

    .login-img {
      width: 100%;
      height: 200px;
    }
  }
}

@media(max-width: 425px) {
  .login-img {
    //display: none;
  }
}

@media screen and (orientation: landscape) and (max-width: 1024px) {
  .login-container {
    position: relative;
    overflow-y: auto;
  }
}
</style>
