<template>
  <el-upload
      class="avatar-uploader"
      action="/api/file/upload"
      :show-file-list="false"
      :on-success="handleAvatarSuccess"
      :before-upload="beforeAvatarUpload">
    <img v-if="imageUrl" :src="imageUrl" class="avatar">
    <i class="el-icon-plus avatar-uploader-icon"></i>
  </el-upload>
</template>

<script>
export default {
  props: ['imageUrl'],
  methods: {
    handleAvatarSuccess(res, file) {
      this.imageUrl = URL.createObjectURL(file.raw);
      this.$emit('uploaded', file.response.image_url);
    },
    beforeAvatarUpload(file) {
      const isJPG = file.type === 'image/jpeg';
      const isLt2M = file.size / 1024 / 1024 < 5;

      if (!isJPG) {
        this.$message.error('Аватар должен иметь формат JPG!');
      }
      if (!isLt2M) {
        this.$message.error('Файл должен весить меньше 5MB!');
      }
      return isJPG && isLt2M;
    },
  },
};
</script>

<style lang="scss" scoped>
.avatar-uploader {
  .el-upload {
    display: flex;
    position: relative;

    img {
      object-fit: cover;
    }
  }
}

.avatar-uploader {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background: #f6f6f6;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  height: 180px;
  width: 180px;

  img + .avatar-uploader-icon {
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(38, 41, 46, .64);
    opacity: 0;
    transition: opacity .3s;
    color: #fff;

    &:hover {
      opacity: 1;
    }
  }
}

.el-upload:hover {
  border-color: #409EFF;
}

.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  line-height: 178px;
  text-align: center;
}

.avatar {
  width: 178px;
  height: 178px;
  display: block;
}
</style>
