<template>
  <router-link :to="'/workers/create/' + role" class="btn">
    <svg-icon icon-class="add-user"/>
  </router-link>
</template>

<script>
export default {
  name: 'BtnCreateUser',
  props: ['role'],
};
</script>

<style lang="scss" scoped>
.btn {
  display: inline-block;
  background: #232323;
  border-radius: 50%;
  margin-left: 16px;
  padding: 6px;
  height: 31px;
  width: 31px;
  float: left;

  &:hover {
    background: lighten(#232323, 10%);
  }

  svg {
    width: 18px;
    height: 18px;
    float: left;
  }
}
</style>
