<template>
  <el-row :gutter="16" class="workers flex-wrap">
    <el-col v-for="worker in workers" :key="worker.id" :span="6" :xs="24">
      <div class="worker">
        <div class="worker__header">
          <div class="worker__header__wrap">
            <div class="client__avatar" v-html="worker.avatar"></div>
            <div class="worker__name">
              <p>{{ worker.surname }}</p>
              <p>{{ worker.name }}</p>
            </div>
          </div>
          <div>
            <el-dropdown trigger="click">
            <span class="el-dropdown-link">
              <svg-icon icon-class="tdot"/>
            </span>
              <el-dropdown-menu slot="dropdown">
                <el-dropdown-item>
                  <router-link :to="'/workers/' + worker.id + '/edit'">
                    Редактировать
                  </router-link>
                </el-dropdown-item>
                <el-dropdown-item>
                  <el-popconfirm
                      confirm-button-text="Да, подтверждаю"
                      cancel-button-text="Нет, отмена"
                      icon="el-icon-info"
                      icon-color="red"
                      title="Удалить сотрудника?"
                      @onConfirm="deleteWorker(worker.id)"
                  >
                    <div slot="reference">Удалить</div>
                  </el-popconfirm>
                </el-dropdown-item>
              </el-dropdown-menu>
            </el-dropdown>
          </div>
        </div>
        <div class="worker__post__wrap">
          <span class="worker__post">{{ worker.role }}</span>
          <span class="worker__id">id {{ worker.id }}</span>
        </div>
        <div class="worker__info">
          <span>Телефон:</span>
          <p>{{ worker.phone }}</p>
          <span>E-mail:</span>
          <p>{{ worker.email }}</p>
        </div>
      </div>
    </el-col>
  </el-row>
</template>

<script>
import Resource from '@/api/resource';

const userResource = new Resource('users');

export default {
  name: 'WorkerList',
  props: {
    workers: {
      type: Array,
      default() {
        return [];
      },
    },
  },
  methods: {
    deleteWorker(id) {
      userResource.destroy(id);
      this.$emit('onUpdate');
    },
  },
};
</script>

<style lang="scss" scoped>
.workers {
  display: flex;
  justify-content: flex-start;
}

.worker {
  padding: 24px;
  background: #fff;
  border-radius: 4px;
  margin-bottom: 16px;
  filter: drop-shadow(0px 4px 24px rgba(0, 67, 101, 0.08));

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;

    &__wrap {
      display: flex;
    }
  }

  &__name {
    margin-left: 8px;

    p {
      margin: 0;
      font-size: 16px;
      line-height: 19px;
    }
  }

  &__post {
    font-size: 16px;
    line-height: 19px;

    &__wrap {
      display: flex;
      justify-content: space-between;
    }
  }

  &__id {
    color: #A2A4AE;
    font-size: 11px;
    line-height: 19px;
  }

  &__info {
    margin-top: 20px;

    span {
      color: #A2A4AE;
      line-height: 1;
      font-size: 11px;
      margin-bottom: 4px;
    }

    p {
      font-size: 14px;
      line-height: 16px;
      margin-top: 0;
      margin-bottom: 16px;
    }
  }
}

.el-dropdown-link {
  cursor: pointer;
}
</style>
