<template>
  <!--      <breadcrumb v-if="sidebar.showBreads" id="breadcrumb-container" class="breadcrumb-container" />-->
  <app-main/>
</template>

<script>

import {AppMain} from "@/layout/components";

export default {
  name: 'LayoutFree',
  components: {
    AppMain,
  },
};
</script>
