<template>
  <div class="app-container">
    <h1>Управление аккаунтом</h1>

    <div class="card">
      <el-form ref="form" :model="user" :rules="rules" :label-position="device === 'mobile' ? 'top' : 'left'"
               class="double-form" label-width="110px">
        <div class="form-wrap">
          <div class="el-form__group">
            <p class="el-form__title">Данные для входа в онлайн-магазин</p>
            <el-form-item label="Логин:" prop="username">
              <el-input v-model="user.username" :readonly="user.id !== undefined"/>
            </el-form-item>
            <el-form-item label="Пароль:" prop="password">
              <el-input v-model="user.password" :readonly="user.id !== undefined"/>
            </el-form-item>
          </div>
          <div class="el-form__group">
            <p class="el-form__title">Персональные данные</p>
            <el-form-item label="Фамилия:">
              <el-input v-model="user.surname"/>
            </el-form-item>
            <el-form-item label="Имя:" prop="name">
              <el-input v-model="user.name"/>
            </el-form-item>
            <el-form-item label="Отчество:">
              <el-input v-model="user.father_name"/>
            </el-form-item>
            <el-form-item label="Дата рождения:">
              <el-date-picker
                  v-model="user.birthday"
                  type="date"
                  placeholder="Выберите дату"
                  value-format="dd.MM.yyyy"
                  format="dd.MM.yyyy"
                  style="width: 100%;"/>
            </el-form-item>
            <el-form-item label="Телефон:">
              <el-input v-model="user.phone"/>
            </el-form-item>
            <el-form-item label="E-mail:">
              <el-input v-model="user.email"/>
            </el-form-item>
          </div>
          <div v-if="device !== 'mobile'" class="block-center">
            <el-button :loading="loading" type="primary" @click="save">Сохранить изменения</el-button>
          </div>
        </div>
        <div class="avatar__wrap">
          <label class="el-form-item__label">Аватар:</label>
          <avatar :imageUrl="avatar" @uploaded="(src) => avatar = src"/>
        </div>
        <div v-if="device === 'mobile'" class="block-center" style="margin-top: 40px;">
          <el-button :loading="loading" type="primary" @click="save">Сохранить изменения</el-button>
        </div>
      </el-form>
    </div>
  </div>
</template>

<script>
import Resource from '@/api/resource';
import Avatar from './components/avatar';
import {mapGetters} from 'vuex';

const userResource = new Resource('users');

export default {
  name: 'UserEdit',
  components: {
    'avatar': Avatar,
  },
  data() {
    return {
      user: {
        id: undefined,
      },
      loading: false,
      rules: {
        name: [{required: true, message: 'Введите имя', trigger: 'blur'}],
        username: [{required: !this.$route.params.id, message: 'Придумайте логин', trigger: 'blur'}],
        password: [{required: !this.$route.params.id, message: 'Придумайте пароль', trigger: 'blur'}],
      },
    };
  },
  computed: {
    ...mapGetters([
      'device',
    ]),
    avatar: {
      get() {
        if (this.user.avatar_url) {
          return this.user.avatar_url;
        }
        return null;
      },
      set(val) {
        this.user.avatar = val;
      },
    },
  },
  created() {
    if (this.$route.params.id) {
      this.getResource(this.$route.params.id);
    } else {
      this.user.password = (Math.random() + 1).toString(36).substring(2);
    }
  },
  methods: {
    async getResource(id) {
      const {data} = await userResource.get(id);
      this.user = data;
      this.user.avatar = data.avatar_url;
    },
    save() {
      this.loading = true;
      this.$refs['form'].validate((valid) => {
        if (valid) {
          if (this.user.id !== undefined) {
            userResource.update(this.user.id, {
              user: this.user,
            }).then(response => {
              this.$message.success('Пользователь сохранен');
              this.getResource(this.user.id);
            }).catch(error => {
              this.$message.error(error);
            }).finally(() => {
              this.loading = false;
            });
          } else {
            userResource.store({
              user: this.user,
              role: this.$route.params.role,
            }).then(response => {
              this.$message.success('Пользователь сохранен');
              this.$router.push({name: 'UserEdit', params: {id: response.id}});
            }).catch(error => {
              this.$message.error(error);
            }).finally(() => {
              this.loading = false;
            });
          }
        } else {
          this.loading = false;
        }
      });
    },
  },
};
</script>

<style>
.form-wrap {
  width: 100%;
  max-width: 410px;
  margin-bottom: 24px;
}

.double-form {
  display: flex;
  flex-wrap: wrap;
}

.avatar__wrap {
  padding-left: 100px;
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 992px) {
  .avatar__wrap {
    padding-left: 0;
    width: 100%;
  }

  .el-form-item:last-child {
    margin-bottom: 0;
  }

  .el-form__group:last-child {
    margin-bottom: 0;
  }
}
</style>
