<template>
  <div class="app-container">
    <h1>Сотрудники</h1>

    <div class="w1040">
      <h2><span>Менеджеры</span>
        <btn-create role="manager"/>
      </h2>
      <workers @onUpdate="getList" :workers="manager"/>
    </div>

    <div class="w1040">
      <h2><span>Сотрудники склада</span>
        <btn-create role="warehouse"/>
      </h2>
      <workers @onUpdate="getList" :workers="warehouse"/>
    </div>

    <div class="w1040">
      <h2><span>Сотрудники производства</span>
        <btn-create role="production"/>
      </h2>
      <workers @onUpdate="getList" :workers="production"/>
    </div>

  </div>
</template>

<script>

import Resource from '@/api/resource';
import Workers from '@/views/users/components/workers';
import BtnCreate from '@/views/users/components/btnCreate';

const userResource = new Resource('users');

export default {
  name: 'UserList',
  components: {
    'workers': Workers,
    'btn-create': BtnCreate,
  },
  data() {
    return {
      manager: [],
      warehouse: [],
      production: [],
    };
  },
  created() {
    this.getList();
  },
  methods: {
    async getList() {
      this.loading = true;
      const {manager, warehouse, production} = await userResource.list({});
      this.manager = manager;
      this.warehouse = warehouse;
      this.production = production;
      this.loading = false;
    },
  },
};
</script>

<style>
.w1040 {
  margin-bottom: 80px;
}
</style>
