<template>
  <div class="client">
    <div>
      <h4>Персональные данные</h4>
      <table>
        <tr v-for="(val, name) in rows.personal" :key="name">
          <td class="title">{{ name }}:</td>
          <td>{{ val }}</td>
        </tr>
      </table>
    </div>
  </div>
</template>

<script>
export default {
  name: 'OrderClientInfo',
  props: {
    order: {
      type: Object,
      default: null,
    },
  },
  computed: {
    rows() {
      if (!this.order) {
        return {};
      }
      return {
        personal: {
          'Фамилия': this.order.client.surname,
          'Имя': this.order.client.name,
          'Отчество': this.order.client.father_name,
          'ID': this.order.client.id,
          'E-mail': this.order.client.email,
          'Телефон': this.order.client.phone,
          'Дата рождения': this.order.client.birthday,
          'Дата регистрации': this.order.client.registered,
        },
      };
    },
  },
};
</script>

<style lang="scss" scoped>
.client {
  display: flex;
  margin-bottom: 24px;

  & > div {
    width: 277px;
  }

  table {
    width: 100%;
  }

  td {
    font-size: 14px;
    line-height: 2;
    width: 50%;
  }

  .title {
    color: #A2A4AE;
  }
}
</style>
