<template>
  <div class="el-form" v-if="nextStatus && nextStatus.id">
    <el-button type="primary" @click="addStatus(nextStatus.id)" :loading="loading">
      {{ nextStatus.text }}
    </el-button>
  </div>
</template>

<script>

import request from '@/utils/request';

export default {
  name: 'ConfirmStatusButton',
  props: ['order', 'nextStatus'],
  data() {
    return {
      loading: false,
    };
  },
  methods: {
    addStatus(statusId) {
      this.loading = true;
      request.post('/orders/' + this.order.id + '/status/set', {
        statusId: statusId,
      }).finally(() => {
        this.loading = false;
        this.$emit('statusChanged');
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.el-form {
  margin-bottom: 80px;

  .el-button--primary {
    font-size: 16px;
    padding: 0 50px;
  }

  @media (max-width: 992px) {
    .el-button--primary {
      padding: 0 20px;
      width: 100%;
    }
  }
}
</style>
