<template>
  <div v-if="order" class="delivery">
    <div v-if="order.delivery.type === 'cdek'" class="cdek">
      <h3>Адрес ПВЗ</h3>
      <span>{{ order.delivery.address }}</span>
    </div>
    <div v-else-if="order.delivery.type === 'pickup'">
      <h3 style="margin-left: 20px;">Самовывоз</h3>
    </div>
  </div>
</template>

<script>
export default {
  name: 'OrderDelivery',
  props: {
    order: {
      type: Object,
      default() {
        return {};
      },
    },
  },
};
</script>

<style lang="scss" scoped>
h3 {
  color: #000;
  font-size: 18px;
  font-weight: 500;
  margin: 0 0 8px;
}

.delivery {
  margin-bottom: 40px;
}

.cdek {
  padding: 20px;
  max-width: 650px;
  background: #F6F6F6;
  border-radius: 6px;
  border: 1px solid #DDDDDD;

  span {
    font-size: 16px;
    color: #333;
  }
}
</style>
