<template>
  <el-table
      v-loading="loading"
      :data="orders"
      style="width: 100%">
    <el-table-column
        v-if="device != 'mobile'"
        class-name="column-index"
        label-class-name="column-index"
        type="index"/>
    <el-table-column
        prop="user_id"
        label="Клиент"
        min-width="200px">
      <client slot-scope="scope" :client="scope.row.client" :id="scope.row.id"></client>
    </el-table-column>
    <el-table-column
        prop="id"
        label="Номер заказа">
      <template slot-scope="scope">
        №{{ scope.row.id }}
      </template>
    </el-table-column>
    <el-table-column
        prop="created_at"
        label="Оформлен"
        width="100">
      <template slot-scope="scope">
        <div style="text-align:right;">
              <span>
                {{ scope.row.created_at.date }}
              </span>
          <span class="row-subtext">
                {{ scope.row.created_at.time }}
              </span>
        </div>
      </template>
    </el-table-column>
    <el-table-column
        prop="payment"
        label="Оплата"
        width="100">
    </el-table-column>
    <el-table-column
        prop="status"
        label="Статус"
        width="180">
      <template slot-scope="scope">
            <span class="status">
              {{ scope.row.status }}
            </span>
      </template>
    </el-table-column>
  </el-table>
</template>

<script>

import Client from '@/views/orders/client';
import {mapGetters} from 'vuex';

export default {
  name: 'OrderColumns',
  components: {
    'client': Client,
  },
  props: {
    orders: {
      type: Array,
      default() {
        return [];
      },
    },
    loading: {
      type: Boolean,
      default() {
        return false;
      },
    },
  },
  computed: {
    ...mapGetters([
      'device',
    ]),
  },
};
</script>

<style scoped>
.row-subtext {
  display: block;
  color: #A2A4AE;
  font-size: 11px;
  line-height: 12px;
  text-align: right;
}

.status {
  width: 100%;
  padding: 8px;
  font-size: 11px;
  line-height: 12px;
  border: 1px solid #000;
  display: inline-block;
  text-align: center;
  word-break: break-word;
}
</style>
