<template>
  <el-table
      v-loading="loading"
      :data="products"
      style="width: 100%">
    <el-table-column
        v-if="device != 'mobile'"
        class-name="column-index"
        label-class-name="column-index"
        type="index"/>
    <el-table-column
        prop="user_id"
        sortable
        min-width="200px"
        label="Наименование">
      <el-product slot-scope="scope" :product="scope.row" :id="scope.row.id"></el-product>
    </el-table-column>
    <el-table-column
        prop="count"
        label="Количество, шт"
        sortable/>
    <el-table-column
        prop="price"
        label="Цена ₽ /шт"
        sortable/>
    <el-table-column
        prop="price_total"
        label="Сумма заказа, ₽"
        sortable/>
  </el-table>
</template>

<script>

import ElProduct from '@/views/orders/components/product';
import {mapGetters} from 'vuex';

export default {
  name: 'ProductsTable',
  components: {ElProduct},
  props: {
    products: {
      type: Array,
      default() {
        return [];
      },
    },
    loading: {
      type: Boolean,
      default() {
        return false;
      },
    },
  },
  computed: {
    ...mapGetters([
      'device',
    ]),
  },
};
</script>

<style scoped>
.row-subtext {
  display: block;
  color: #A2A4AE;
  font-size: 11px;
  line-height: 12px;
  text-align: right;
}
</style>
