<template>
  <router-link :to="'/products/' + id + '/view'" class="client">
    <div class="client__avatar">
      <img :src="product.img" alt="">
    </div>
    <div class="client__info">
      <span class="client__name">
        {{ product.name }}
      </span>
      <div class="client__subinfo">
        Артикул {{ product.id }}
      </div>
    </div>
  </router-link>
</template>

<script type="text/javascript">
export default {
  name: 'ElProduct',
  props: {
    id: {},
    product: {
      type: Object,
      default() {
        return {};
      },
    },
  },
};
</script>

<style lang="scss">
.client {
  display: flex;

  &__avatar {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;

    * {
      display: inline-block;
      text-align: center;
      line-height: 40px;
      font-weight: 900;
      color: #fff;
      width: 100%;
    }
  }

  &__info {
    margin-left: 8px;
  }

  &__name {
    font-size: 18px;
    line-height: 22px;
    white-space: nowrap;
  }

  &__subinfo {
    color: #A2A4AE;
    font-size: 11px;
    line-height: 12px;
  }
}
</style>
