<template>
  <div class="status-line">
    <div
        v-for="(status, key) in statuses"
        :key="key"
        :class="{
          'order-status': true,
          'active': status.date != null && !status.current,
          'current': status.current,
      }">
      <div>
        <span v-if="status.date" class="order-status__date">
          {{ status.date }}
        </span>
        <span v-else class="order-status__date">
          &zwnj;
        </span>
        {{ status.name }}
      </div>
      <div v-if="key !== statuses.lastIndex" class="order-status__arrow">
        <span class="order-status__date">&zwnj;</span>
        <svg
            width="25"
            height="8"
            viewBox="0 0 25 8"
            style="fill:currentColor;"
            xmlns="http://www.w3.org/2000/svg">
          <path
              d="M24.3536 4.35355C24.5488 4.15829 24.5488 3.84171 24.3536 3.64645L21.1716 0.464466C20.9763 0.269204 20.6597 0.269204 20.4645 0.464466C20.2692 0.659728 20.2692 0.976311 20.4645 1.17157L23.2929 4L20.4645 6.82843C20.2692 7.02369 20.2692 7.34027 20.4645 7.53553C20.6597 7.7308 20.9763 7.7308 21.1716 7.53553L24.3536 4.35355ZM0 4.5H24V3.5H0V4.5Z"/>
        </svg>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'OrderStatusLine',
  props: {
    currentStatus: {
      type: Intl,
      default: null,
    },
    statuses: {
      default() {
        return [];
      },
    },
  },
};
</script>

<style lang="scss" scoped>
.status-line {
  display: flex;
  margin-left: 44px;
  margin-bottom: 24px;
}

.order-status {
  color: #A2A4AE;
  display: flex;
  justify-content: flex-start;

  &:last-child {
    .order-status__arrow {
      display: none;
    }
  }

  &__date {
    display: block;
    color: #A2A4AE;
    font-weight: 400;
    font-size: 11px;
    line-height: 12px;
    margin-bottom: 2px;
    white-space: nowrap;
  }

  &__arrow {
    white-space: nowrap;
    margin-left: 10px;
    margin-right: 10px;
  }

  &.current {
    font-weight: 500;
    color: #2DB47B;
  }

  &.active {
    color: #222;
  }
}

@media(max-width: 1024px) {
  .status-line {
    margin-left: 0;
    overflow-x: auto;
    overflow-y: hidden;
  }
}
</style>
