<template>
  <div class="navbar">
    <!--    <hamburger id="hamburger-container" :is-active="sidebar.opened" class="hamburger-container"-->
    <!--               @toggleClick="toggleSideBar"/>-->
    <div class="logo-topmenu">
      <logo :collapse="false"/>
    </div>

    <div class="right-menu">
      <template v-if="device!=='mobile'">
        <!--        <search id="header-search" class="right-menu-item" />-->
      </template>

      <el-dropdown class="avatar-container right-menu-item hover-effect" trigger="click">
        <div class="avatar-wrapper">
          <div class="name-wrapper">
            <span class="post">{{ role }}</span>
            <span class="name">{{ name }}</span>
          </div>
          <!--          <img :src="avatar+'/128'" class="user-avatar">-->
          <div v-html="avatar" class="user-avatar client__avatar"></div>
        </div>
        <el-dropdown-menu slot="dropdown">
          <router-link to="/">
            <el-dropdown-item>
              {{ $t('navbar.dashboard') }}
            </el-dropdown-item>
          </router-link>
          <router-link v-show="userId !== null" :to="`/profile/edit`">
            <el-dropdown-item>
              {{ $t('navbar.profile') }}
            </el-dropdown-item>
          </router-link>
          <el-dropdown-item divided>
            <span style="display:block;" @click="logout">{{ $t('navbar.logOut') }}</span>
          </el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>
    </div>
  </div>
</template>

<script>
import {mapGetters} from 'vuex';
// import Hamburger from '@/components/Hamburger';
import Logo from '../components/Sidebar/Logo';
// import Search from '@/components/HeaderSearch';

export default {
  components: {
    // Hamburger,
    Logo,
    // Search,
    },
    computed: {
      ...mapGetters([
        'sidebar',
        'name',
        'avatar',
        'role',
        'device',
        'userId',
      ]),
    },
  methods: {
    toggleSideBar() {
      this.$store.dispatch('app/toggleSideBar');
    },
    async logout() {
      await this.$store.dispatch('user/logout');
      this.$router.push(`/login?redirect=${this.$route.fullPath}`);
    },
  },
};
</script>

<style lang="scss" scoped>
.navbar {
  padding: 10px 0;
  overflow: hidden;
  position: relative;
  background: #000;
  box-shadow: 0 1px 4px rgba(0, 21, 41, .08);

  .hamburger-container {
    line-height: 40px;
    height: 100%;
    float: left;
    cursor: pointer;
    transition: background .3s;
    -webkit-tap-highlight-color: transparent;

    &:hover {
      background: rgba(0, 0, 0, .025)
    }
  }

  .breadcrumb-container {
    float: left;
  }

  .errLog-container {
    display: inline-block;
    vertical-align: top;
  }

  .right-menu {
    float: right;
    height: 40px;
    line-height: 50px;

    &:focus {
      outline: none;
    }

    .right-menu-item {
      display: inline-block;
      padding: 0 8px;
      height: 100%;
      font-size: 18px;
      color: #5a5e66;
      vertical-align: text-bottom;

      &.hover-effect {
        cursor: pointer;
        transition: background .3s;

        &:hover {
          background: rgba(0, 0, 0, .025)
        }
      }
    }

    .avatar-container {
      margin-right: 30px;

      .avatar-wrapper {
        height: 40px;
        position: relative;
        display: flex;

        .user-avatar {
          position: relative;
          cursor: pointer;
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }

        .el-icon-caret-bottom {
          cursor: pointer;
          position: absolute;
          right: -20px;
          top: 25px;
          font-size: 12px;
        }

        .name-wrapper {
          float: left;
          height: 40px;
          line-height: 20px;
          margin-right: 8px;
          display: flex;
          flex-direction: column;

          span {
            color: #fff;
            font-size: 14px;
            text-align: right;

            &.post {
              color: #A2A4AE;
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}

@media(max-width: 992px) {
  .navbar {
    position: unset;

    .right-menu {
      .avatar-container {
        margin-right: 10px;
      }
    }
  }
}
</style>

<style lang="scss">
.navbar {
  .user-avatar {
    span {
      position: absolute;
    }
  }
}
</style>
