<template>
  <div class="breadcrumbs breadcrumbs-with-back">
    <a @click="$router.back()" class="btn-back">
      <svg-icon icon-class="back"/>
      <span>
        Назад
      </span>
    </a>
    <breadcrumb ref="breads" id="breadcrumb-container" class="breadcrumb-container"/>
  </div>
</template>

<script>
import Breadcrumb from '@/components/Breadcrumb';

export default {
  name: 'BreadsWithBack',
  components: {
    Breadcrumb,
  },
  methods: {
    render(name) {
      this.$refs.breads.getBreadcrumb(name);
    },
  },
};
</script>

<style lang="scss">
.breadcrumbs {
  display: flex;

  .btn-back {
    display: inline-block;
    margin-right: 30px;
    line-height: 50px;
    font-size: 14px;
    color: #979797;

    span {
      margin-left: 8px;
    }
  }

  .el-breadcrumb {
    &__separator, &__inner, &__inner a {
      font-size: 11px;
      color: #B8B8B8;

      .no-redirect {
        color: #898A8D !important;
      }
    }
  }
}

@media (max-width: 992px) {
  .breadcrumbs {
    margin-bottom: 20px;

    .btn-back {
      line-height: 20px;

      span {
        display: none;
      }
    }

    .app-breadcrumb.el-breadcrumb {
      line-height: 20px;
    }
  }
}
</style>
