div.sc {
  &-launcher {
    display: none;
  }

  &-chat-window.opened {
    position: unset;
    box-shadow: none;
    max-height: 650px;
    max-width: 100%;
  }

  &-message-list {
    padding: 20px 0 0 0 !important;
    background-color: #ECF1F3 !important;

    &::-webkit-scrollbar {
      width: 10px;
      border-radius: 4px;
    }

    &::-webkit-scrollbar-track {
      background: linear-gradient(0deg, #ECF1F3, #ECF1F3), #F6F6F6;
    }

    &::-webkit-scrollbar-thumb {
      border: 2px solid #ECF1F3;
      border-radius: 6px;
      background: #B1CCD6;
    }
  }

  &-message {
    padding-bottom: 35px;
    width: calc(100% - 10px);

    &--content {
      .sc-message--text {
        background: transparent !important;
        padding: 0 !important;

        &-content {
          margin: 0;
        }
      }

      &.sent {
        .sc-message--body {
          background: #fff;
        }

        .sc-message {
          &--time {
            right: unset;
            left: -48px;
          }

          &--date {
            margin-right: unset;
            margin-left: -120px;
          }
        }
      }

      &.received {
        .sc-message--text {
          margin-right: 130px;

          @media (max-width: 992px) {
            margin-right: 50px;
          }
        }
      }
    }

    &--body {
      position: relative;
      padding: 12px !important;
      color: #232323 !important;
      font-size: 16px !important;
      line-height: 23px !important;
      border-radius: 6px;
      background-color: #B1CCD6;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05);
    }

    &--file {
      overflow: hidden;
    }
  }
}

.sc {
  &-user-input {
    min-height: 42px !important;
    background: #fff !important;

    &--text {
      z-index: 10;
      background: #F6F6F6;
      font-size: 16px !important;
      border: 1px solid #DDDDDD !important;
      border-radius: 0 !important;
      padding: 0 14px !important;
      margin-top: 5px;
      line-height: 42px !important;
      height: 42px;
      width: calc(100% - 74px) !important;
      overflow: hidden !important;
    }

    &--buttons {
      top: 5px;
      right: 0 !important;
    }

    &--button {
      height: 42px !important;
    }

    &--file-icon, &--button-icon-wrapper {
      position: relative !important;
      top: 3px !important;
    }

    &--button-icon-wrapper {
      &:after {
        content: '';
        width: 20px;
        height: 20px;
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        background: url('/images/icon-send.png') no-repeat;
      }

      svg {
        opacity: 0 !important;
      }
    }
  }

  &-message {
    &--time {
      font-size: 14px;
      color: #A6A6A6;
      width: 36px;
      position: absolute;
      right: -48px;
      top: 0;
      text-align: right;
    }

    &--date {
      color: #A6A6A6;
      font-size: 14px;
      font-weight: 700;
      width: 345px;
      display: block;
      text-align: center;
      margin-top: 40px;
      margin-bottom: 30px;
      margin-right: -130px;

      @media (max-width: 992px) {
        margin-right: -50px;
      }
    }

    &--file-icon {
      display: flex;
      margin-top: 0 !important;

      img {
        object-fit: cover;
      }
    }

    &--file-name {
      text-align: right !important;
      height: 0;

      a {
        font-size: 0 !important;
        display: inline-block;
        border-radius: 50%;
        background: #000;
        padding: 8px;
        position: relative;
        top: -50px;
        z-index: 10;

        &:after {
          content: '';
          width: 22px;
          height: 22px;
          display: inline-block;
          background: url('/images/icon-view.png') no-repeat;
          background-size: contain;
        }
      }
    }

    &--file-text {
      @extend div.sc-message--body;
    }
  }
}
