/* Golos-UI_Regular*/
@font-face {
  font-family: 'Golos UI';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(/files/Golos-UI_Regular.woff2) format('woff2'), url(/files/Golos-UI_Regular.woff) format('woff');

}
/* Golos-UI_Medium*/
@font-face {
  font-family: 'Golos UI';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(/files/Golos-UI_Medium.woff2) format('woff2'), url(/files/Golos-UI_Medium.woff) format('woff');

}
/* Golos-UI_Bold*/
@font-face {
  font-family: 'Golos UI';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(/files/Golos-UI_Bold.woff2) format('woff2'), url(/files/Golos-UI_Bold.woff) format('woff');

}
