.app-container {
  .el-form {
    &__title {
      color: #A2A4AE;
      font-size: 14px;
      margin-top: 8px;
      margin-bottom: 24px;
    }

    &__group {
      margin-bottom: 40px;
    }

    &-item {
      &__label {
        color: #A2A4AE;
        font-size: 14px;
        text-align: left;
        font-weight: 400;
        line-height: 22px !important;
        padding-right: 10px;
        display: flex;
        height: 42px;
        align-items: center;
      }
      &__error {
        color: #DF0000;
        font-size: 12px;
        padding-left: 22px;
      }
    }

    .el-input--medium {
      .el-input {
        &__inner {
          color: #474747;
          height: 42px;
          line-height: 42px;
          padding: 0 14px;
          border-radius: 0;
          background: #F6F6F6;
          border: 1px solid #DDDDDD;

          &[readonly] {
            color: #A2A4AE;
          }
        }
      }
    }

    .el-input--prefix .el-input__inner {
      padding-left: 32px;
    }

    .el-button {
      &--primary {
        color: #fff;
        font-size: 14px;
        padding: 0 40px;
        background: #000;
        border-radius: 0;
        line-height: 50px;
        border: none;

        &:hover {
          background: lighten(#000, 15%);
        }

        &:focus {
          background: lighten(#000, 25%);
        }
      }
    }
  }

  .el-form-item.is-required:not(.is-no-asterisk) > .el-form-item__label:before, .el-form-item.is-required:not(.is-no-asterisk) .el-form-item__label-wrap > .el-form-item__label:before {
    content: '';
  }

  .el-form-item.is-required:not(.is-no-asterisk) > .el-form-item__label:after, .el-form-item.is-required:not(.is-no-asterisk) .el-form-item__label-wrap > .el-form-item__label:after {
    content: '*';
    color: #ff4949;
    margin-right: 4px;
  }
}
