.el-pagination {
  margin-top: 40px;
  text-align: center;
}

.el-pager {
  li.number, li.btn-quicknext.more, li.btn-quickprev.more {
    color: #A2A4AE;
    font-size: 14px;
    font-weight: 400;

    &.active {
      color: #333;
    }
  }
}
