#app {

  .main-container {
    min-height: 100%;
    transition: margin-left .28s;
    margin-left: $sideBarWidth;
    position: relative;
  }

  .sidebar-container {
    transition: width 0.28s;
    width: $sideBarWidth !important;
    background-color: $menuBg;
    height: 100%;
    position: fixed;
    font-size: 0px;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1001;
    overflow: hidden;

    // reset element-ui css
    .horizontal-collapse-transition {
      transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
    }

    .scrollbar-wrapper {
      overflow-x: hidden !important;
    }

    .el-scrollbar__bar.is-vertical {
      right: 0px;
    }

    .el-scrollbar {
      height: 100%;
    }

    &.has-logo {
      .el-scrollbar {
        height: calc(100% - 50px);
      }
    }

    .is-horizontal {
      display: none;
    }

    a {
      display: inline-block;
      width: 100%;
      overflow: hidden;
    }

    .svg-icon {
      margin-right: 16px;
    }

    .el-menu {
      border: none;
      height: 100%;
      width: 100% !important;
    }

    // menu hover
    .submenu-title-noDropdown,
    .el-submenu__title {
      &:hover {
        background-color: $menuHover !important;
      }
    }

    .is-active > .el-submenu__title {
      color: $subMenuActiveText !important;
    }

    & .nest-menu .el-submenu > .el-submenu__title,
    & .el-submenu .el-menu-item {
      min-width: $sideBarWidth !important;
      background-color: $subMenuBg !important;

      &:hover {
        background-color: $subMenuHover !important;
      }
    }
  }

  .router-link-active {
    .el-menu-item {
      background-color: #26292E !important;
      border-right: 4px solid #FA3131;
    }
  }

  .el-menu-item {
    height: 37px;
    padding-left: 8px !important;
    line-height: 37px;
    display: flex;
    align-items: center;
    border-radius: 4px 0 0 4px;

    &.is-active {
      background-color: #26292E !important;
      border-right: 4px solid #FA3131;
    }

    .svg-icon {
      width: 15px;
      height: 15px;
    }
  }

  .hideSidebar {
    .sidebar-container {
      width: 54px !important;
    }

    .main-container {
      margin-left: 54px;
    }

    .svg-icon {
      margin-right: 0px;
    }

    .submenu-title-noDropdown {
      padding: 0 !important;
      position: relative;

      .el-tooltip {
        padding: 0 !important;

        .svg-icon {
          margin-left: 20px;
        }
      }
    }

    .el-submenu {
      overflow: hidden;

      & > .el-submenu__title {
        padding: 0 !important;

        .svg-icon {
          margin-left: 20px;
        }

        .el-submenu__icon-arrow {
          display: none;
        }
      }
    }

    .el-menu--collapse {
      .el-submenu {
        & > .el-submenu__title {
          & > span {
            height: 0;
            width: 0;
            overflow: hidden;
            visibility: hidden;
            display: inline-block;
          }
        }
      }
    }
  }

  .el-menu--collapse .el-menu .el-submenu {
    min-width: $sideBarWidth !important;
  }

  // mobile responsive
  .mobile {
    .main-container {
      margin-left: 0px;
    }

    .sidebar-container {
      transition: transform .28s;
      width: $sideBarWidthMobile !important;

      .menu-wrapper {
        padding-left: 8px;
      }

      .menu-delimiter {
        display: none;
      }

      .svg-icon {
        width: 20px;
        height: 20px;
        margin-left: 0 !important;
        margin-right: 0 !important;
      }

      .el-menu-item {
        height: 40px;

        & > .el-tooltip {
          display: flex !important;
          align-items: center;
          justify-content: center;
        }
      }
    }

    &.hideSidebar {
      .sidebar-container {
        //pointer-events: none;
        transition-duration: 0.3s;
        //transform: translate3d(-$sideBarWidthMobile, 0, 0);
      }
    }
  }

  .withoutAnimation {

    .main-container,
    .sidebar-container {
      transition: none;
    }
  }
}

// when menu collapsed
.el-menu--vertical {
  & > .el-menu {
    .svg-icon {
      margin-right: 16px;
    }
  }

  .nest-menu .el-submenu > .el-submenu__title,
  .el-menu-item {
    &:hover {
      // you can use $subMenuHover
      background-color: $menuHover !important;
    }
  }

  // the scroll bar appears when the subMenu is too long
  > .el-menu--popup {
    max-height: 100vh;
    overflow-y: auto;

    &::-webkit-scrollbar-track-piece {
      background: #d3dce6;
    }

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background: #99a9bf;
      border-radius: 20px;
    }
  }
}

.client {
  display: flex;

  &__avatar {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    display: flex;

    * {
      display: inline-block;
      text-align: center;
      line-height: 40px;
      font-weight: 900;
      color: #fff;
      width: 100%;
      object-fit: cover;
    }
  }

  &__info {
    margin-left: 8px;
  }

  &__name {
    font-size: 18px;
    line-height: 22px;
    white-space: nowrap;
  }

  &__subinfo {
    color: #A2A4AE;
    font-size: 11px;
    line-height: 12px;
  }
}

.logo-topmenu {
  display: none;
}

@media (max-width: 992px) {
  .logo-topmenu {
    display: block;
    position: absolute;
    left: 15px;
    top: 0;
    z-index: 1001;
    height: 60px;

    .sidebar-logo-container {
      line-height: 60px !important;
    }
  }
  .logo-menu {
    opacity: 0;
  }
}
