.el-table {
  margin-bottom: 40px;
  color: #333 !important;

  &:before {
    display: none;
  }

  th {
    padding: 0 !important;
    line-height: 29px;
    font-size: 11px;
    font-weight: 400;
    color: $gray;
    border-color: #9A9999 !important;

    &.column-index {
      border-bottom: none !important;
    }
  }

  td {
    border: none !important;

    &.column-index {
      color: #A2A4AE;
      font-size: 14px;
      text-align: center;

      .cell > div {
        &:after {
          content: '.';
        }
      }
    }
  }
}
